.Start {
    margin: 0 auto;
}

.Brand {
    padding: 15px 30px 0px 15px;
    background: #DB6400;
    margin: 0px;
    color: white;
    font-weight: bold;
}

.Icon {
    max-width: 158px;
}

.Intro {
    text-align: center;
    padding: 30px 0px 15px 0px;
    background: #DB6400;
    color: white;
}

.InputFields {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InputLabel {
    width: 90%;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: 500;
}

.Input {
    width: 90%;
    height: 50px;
    text-indent: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
}

.ErrorMessage {
    width: 90%;
    color: red;
    margin-top: 5px;
    margin-bottom: 0px;
}

@media (min-width: 480px) {
    .Start {
        width: 70vw;
    }
}

@media (min-width: 768px) {
    .Start {
        width: 50vw;
    }
}