.Start {
    margin: 0 auto;
}

.Brand {
    margin-left: 30px;
}

.Intro {
    text-align: center;
    margin-top: 30px;
}

.InputFields {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InputLabel {
    width: 70%;
    margin-bottom: 5px;
}

.Input {
    width: 70%;
    height: 50px;
    text-indent: 15px;
}

.ErrorMessage {
    width: 70%;
    color: red;
    margin-top: 5px;
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .Start {
        width: 70vw;
    }
}

@media (min-width: 1024px) {
    .Start {
        width: 50vw;
    }
}