.Start {
    text-align: center;
}

.InputsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}

.Input {
    width: 60%;
    height: 50px;
    text-align: center;
}