.ProceedDiv {
    width: 100vw;
    position: absolute;
    bottom: 30px;
}

.ProceedButton {
    width: 70%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

@media (min-width: 768px) {
    .ProceedDiv {
        width: 70vw;
    }
}

@media (min-width: 1024px) {
    .ProceedDiv {
        width: 50vw;
    }
}