.Tax {
    padding-top: 100px;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Items {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 65vh;
}

.Item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
