.ClaimItems {
    padding-top: 100px;
}

.Persons {
    display: flex;
    justify-content: space-evenly;
}

.Person {
    border: solid 1px black;
    width: 30px;
}

.ItemsDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ClaimButton {
    height: 50px;
}