.ClaimItems {
    margin: 15px auto 0px auto;
}

.Persons {
    display: flex;
    justify-content: space-evenly;
}

.Person {
    border: 1px dashed #DB6400;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #DB6400;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CurrentPerson {
    border: 1px solid #DB6400;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #DB6400;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddPersonButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px dashed #999999;
    box-sizing: border-box;
    color: #999999;
    font-size: 30px;
}

.EditPerson {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 15px auto 0px auto;
}

.PersonNameField {
    border: 0px;
    border-bottom: 1px solid #000000;
    height: 30px;
    width: 100%;
}

.RemovePersonButton {
    margin-left: 15px;
    height: 30px;
    width: 30px;
}

.Prompt {
    width: 90%;
    margin: 30px auto 5px auto;
}

.Items {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 38vh;
    width: 100%;
    margin: 0 auto;
    border-top: 1px dashed #C9C9C9;
}

.ItemRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ClaimButton {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.Subtotal {
    border-top: 1px dashed #C9C9C9;
    padding: 5px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.SubtotalText {
    color: #DB6400;
    font-weight: 700;
}

@media (min-width: 480px) {
    .ClaimItems {
        width: 70vw;
    }
}

@media (min-width: 768px) {
    .ClaimItems {
        width: 50vw;
    }
}