.ClaimItems {
    padding-top: 100px;
}

.Persons {
    display: flex;
    justify-content: space-evenly;
}

.Person {
    border: solid 1px black;
    width: 30px;
}

.Items {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 65vh;
}

.Item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ClaimButton {
    height: 50px;
}