.Header {
    width: 100vw;
    height: 70px;
    background-color: #DB6400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.BackButton {
    position: absolute;
    left: 30px;
    top: 25px;
}

.EventName {
    color: white;
    font-weight: bold;
}