.Header {
    width: 100vw;
    height: 60px;
    background-color: #DB6400;
}

.FixedWidthContainer {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.BackButton {
    position: absolute;
    left: 15px;
    font-size: x-large;
    border: none;
    color: white;
    background: none;
}

.EventName {
    color: white;
    font-weight: bold;
    margin-bottom: 4px;
}

@media (min-width: 768px) {
    .FixedWidthContainer {
        width: 50vw;
    }
}