.AddItems {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100vh;
}

.Subtotal {
    border-top: solid 1px black;
    padding: 15px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.Items {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 65vh;
}

.ItemRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RemoveItemButton {
    margin-left: 15px;
    width: 40px;
    height: 40px;
}

.AddItemButton {
    margin-top: 20px;
}